<!-- Layouts.flash_group flash={@flash} /-->

<section class="text-center py-16 bg-gray-50">
  <h1 class="text-4xl font-bold text-gray-800 mb-4">
    Editor de markdown <span class="text-blue-600">colaborativo</span> y en <span class="text-green-600">tiempo
      real</span>
  </h1>
  <h2 class="text-lg text-gray-600 mb-8">
    TDL 2025 - Grupo Electronixx
  </h2>
</section>